* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: rgb(238, 238, 238);
}

#root {
  max-width: 920px;
  width: 90%;
  margin: auto;
}
